<h1>Log In</h1>

<form class="" action="check_user" method="get">
  <input type="text" name="username" value="" placeholder="Username" required="true"><br>
  <input type="password" name="password" value="" placeholder="Password" required="true"><br>
  <input type="submit" value="Submit">
</form>

<br><br>

<h1>Registration</h1>

<form class="" action="register" method="post">
  <input type="text" name="full_name" value="" placeholder="Full name"><br>
  <input type="text" name="street_address" value="" placeholder="Street Address"><br>
  <input type="text" name="city" value="" placeholder="City"><br>
  <input type="text" name="state" value="" placeholder="State"><br>
  <input type="text" name="postal_code" value="" placeholder="Postal code"><br>
  <input type="text" name="country" value="" placeholder="Country"><br>
  <input type="text" name="email_address" value="" placeholder="Email address"><br>
  <input type="text" name="username" value="" placeholder="Set Username" required="true"><br>
  <input type="password" name="password" value="" placeholder="Set Password" required="true"><br>
  <input type="submit" value="Submit">
</form>
